<footer>
    <div class="footer-content">
        <p>2026 · Simón Aulet · Portafolio Técnico</p>
        <p class="footer-links">
            <a href="index.html">Portafolio Principal</a> ·
            <a href="mailto:simon.aulet@gmail.com">Contacto</a> ·
            <a href="linkedin.com/in/simón-aulet-471745119">Linkedin</a>
        </p>
    </div>
</footer>

<script>
    // Este script se ejecutará cuando el footer se inserte
    document.querySelectorAll('.current-year').forEach(el => {
        el.textContent = new Date().getFullYear();
    });
</script>
